#p1 {
    background: green;
    width: 100%;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#p2 {
    background-color: rgb(125, 125, 202);
    width: 50%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#p3 {
    background: rgba(255, 0, 0, 0.384);
    width: 50%;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

/* <!-- Thirds Section Should Go Here --> */

 #p4 {
    background: aqua;
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#p5 {
    background: aquamarine;
    width: 33.3%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#p6 {
    background: white;
    width: 33.3%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

/* <!-- Fourths Section Should Go Here --> */

 #Rin1 {
    background: plum;
    width: 25%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#Rin2 {
    background: peachpuff;
    width: 25%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#Rin3 {
    background: palevioletred;
    width: 25%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#Rin4 {
    background: pink;
    width: 25%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}



/* <!-- Fifths Section Should Go Here --> */

 #QR1 {
    background: palegoldenrod;
    width: 20%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#QR2 {
    background: violet;
    width: 20%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}

#QR3 {
    background: pink;
    width: 20%;
    float: right;
    text-align:gray;
    width: 20%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}





 #QR4 {
                    background: gray;
                    width: 20%;
                    float: right;
                    text-align: center;
                    padding: 200px 0;
                    font-size: 50px;
                }

#QR5 {
    background: blanchedalmond;
    width: 20%;
    float: right;
    text-align: center;
    padding: 200px 0;
    font-size: 50px;
}





#footer {
    background: orange;
    width: 100%;
    text-align: center;
    padding: 100px 0;
    font-size: 50px;
}
